.guitars {
  max-width: 1000px;
  margin: auto;
}

.guitars .products {
  animation: show-guitars 1s forwards;
  opacity: 0;
}

@keyframes show-guitars {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.product-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
