@font-face {
  font-family: "Boots And Spurs";
  src: url("../fonts/BootsAndSpurs.ttf") format("truetype");
}

body {
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

.info {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: small;
}
h1,
h2,
.logo {
  font-family: "Boots And Spurs", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
}

.product-list h2 {
  font-family: "Roboto";
}

header,
footer {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
}

.reviews {
  background-color: #e8e8e8;
}

.featured-products {
  background-color: #fbfbfb;
}

footer {
  text-align: center;
}
/*navigation*/
header {
  display: flex;
  align-items: center;
}

nav {
  margin-left: 25px;
}
nav ul {
  padding: 0px;
}
nav li {
  display: inline-block;
}

header a {
  color: white;
}

/*links*/

.cta {
  background-color: #bb0000;
  color: white;
  font-size: 1em;
  border-radius: 5px;
  padding: 10px 5%;
  text-align: center;
  text-transform: uppercase;
}

.cta-sale {
  background-color: #127300;
  font-size: 1em;
  border-radius: 5px;
  padding: 10px 80px;
  text-align: center;
  text-transform: uppercase;
}
.cta-small {
  padding: 8px 30px;
  font-size: 0.8em;
}
a {
  text-decoration: none;
  padding: 10px;
}

.current {
  text-decoration: underline;
}

/*home page*/

.welcome {
  background-image: url(../images/home-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  min-height: 70vh;
  position: relative;
}

.welcome_content {
  position: absolute;
  text-align: center;
  top: 100px;
  left: 100px;
}

.selling-points {
  margin: 50px auto;
}
.selling-points,
.reviews__content {
  max-width: 1000px;
  display: flex;
}

.selling-points > *,
.reviews__content > * {
  flex: 1;
}

.selling-points__images {
  border-radius: 100px;
  width: 100%;
}

.reviews {
  text-align: center;
  padding: 50px;
}

.reviews__content {
  text-align: left;
  margin: auto;
}

.reviews__content div {
  margin: 50px;
}

.review__images {
  width: 80px;
  border-radius: 50%;
  float: right;
}

.reviews__name {
  display: block;
}
/*contact page*/

input,
select,
textarea {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  margin: 10px 10px 10px 0px;
  padding: 10px;
}

textarea {
  height: 65%;
}
.contact {
  max-width: 1000px;
  margin: 50px auto;
  text-align: center;
}

.form-wrapper {
  display: flex;
  text-align: left;
}

.form-wrapper > * {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/*product spesific page*/

.product-specific {
  display: flex;
  max-width: 1000px;
  margin: 50px auto;
}

.product-specific > * {
  flex: 1;
}

.product-specific__details {
  padding: 0 30px;
}

.product-specific__details a {
  display: block;
  width: 250px;
  margin: auto;
}
.product-specific__price {
  font-size: 1.5em;
}

.product-image {
  width: 100%;
}

.product-image__thumbnails {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 5px;
}

.product-image__thumbnails img {
  max-width: 100px;
}
