@font-face {
  font-family: "Boots And Spurs";
  src: url("../fonts/BootsAndSpurs.ttf") format("truetype");
}

body {
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

.info {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: small;
}
h1,
.logo {
  font-family: "Boots And Spurs", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
}

h2 {
  font-size: smaller;
}
.product-list h2 {
  font-family: "Roboto";
}
header,
footer {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
}

header a {
  color: white;
}

.cta {
  background-color: #bb0000;
  color: white;
  font-size: 1.5em;
  border-radius: 10px;
  padding: 10px 5%;
  text-align: center;
}

.cta-sale {
  background-color: #127300;
  font-size: 1.5em;
  border-radius: 10px;
  padding: 10px 5%;
  text-align: center;
}
.reviews {
  background-color: #e8e8e8;
}

.reviews {
  background-color: #e8e8e8;
}
.featured-products {
  background-color: #fbfbfb;
}

footer {
  text-align: center;
}
/*navigation*/
nav ul {
  padding: 0px;
}
nav li {
  display: inline-block;
}
/*links*/

a {
  text-decoration: none;
  padding: 10px;
  float: left;
}

.current {
  text-decoration: underline;
}

/*home page*/

.welcome {
  background-image: url(../images/home-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  min-height: 70vh;
}

.selling-points__images {
  border-radius: 100px;
}

.review__images {
  border-radius: 50%;
}

/*contact page*/

input,
select,
textarea {
  border: ipx solid #c4c4c4;
  border-radius: 5px;
}
